 body {
      height: 100%;
      width: 100%;
    }

    #sect {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100vh;
      background-color: yellow;
    }

    article {
      border: 1px solid rgb(143, 143, 143);
      height: 100%;
      margin-bottom: 5px;
    }

    .art {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      background-color: rgb(240, 200, 240);
    }

    .color-name {
      font-size: 16px;
      font-weight: 700;
    }